header {
  color: #000;
  text-align: center;
  padding: 20px 0;
}
h1 {
  font-size: 36px;
}
.paragraph-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}
